*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul {
  list-style: none;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:focus-visible {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #555;
  background: #bce9cc url("todo.svg");
  background-repeat: no-repeat;
  background-position: left -85px bottom -85px;
  background-size: 350px;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper {
}
.drawer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.modal {
  background-color: #fff;
  border-radius: 30px;
}
.modal__title {
  position: relative;
  border-radius: 30px 30px 0 0;
  padding: 30px;
  background-image: url("/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  color: #fff;
  text-align: center;
  font-size: 24px;
}
.back-arrow {
  position: absolute;
  top: 37px;
  left: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.back-arrow:hover {
  transform: translateX(-3px);
}
.modal__form {
  border-radius: 0 0 30px 30px;
  padding: 30px;
}
.modal__input {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #04aa6d;
}
.modal__btn {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #04aa6d;

  border-radius: 15px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 600;
}
.modal__btn:hover {
  opacity: 0.9;
}
.modal__btn:disabled {
  background-color: #919191;
  cursor: default;
}
.header {
  background-image: url("/background.jpg");
  background-attachment: fixed;
  padding: 100px 0 150px;
  text-align: center;
  color: #fff;
}
.header__title {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.header__search {
  position: relative;
  display: inline-block;
}
.header__search-input {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  color: #fff;
  width: 350px;
}
.header__search-input::placeholder {
  color: #fff;
}
.header__search-delete {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 12px;
  cursor: pointer;
}
.message-title {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 600;
  color: #04aa6d;
}
.main {
}
.main__list {
  margin: -70px 0 50px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.main__item {
  padding: 22px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.main__item-icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #4dd17b;
  flex-shrink: 0;
  cursor: pointer;
}
.main__item-icon-inner:hover {
  opacity: 0.9;
}
.main__item-icon {
}
.main__item + .main__item {
  border-top: 1px solid #04aa6d;
}
.main__item-info-block {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__input-title,
.main__item-title,
.main__input-description,
.main__item-description {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #04aa6d;
  border: 1px solid transparent;
  border-radius: 5px;
  text-wrap: wrap;
}
.main__input-description,
.main__item-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 0;
}
.main__input-title,
.main__input-description {
  border-color: #04aa6d;
}
.main__item-nav-block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.main__item-img {
  cursor: pointer;
  border-radius: 7px;
  height: 30px;
  width: 30px;
}
.main__item-img:hover {
  opacity: 0.5;
}
.btn {
  position: fixed;
  right: 3%;
  top: 80%;
  font-size: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #04aa6d;
  line-height: 1;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .modal {
    max-width: 350px;
  }
  .header {
    padding: 30px 0 100px;
  }
  .header__title {
    font-size: 28px;
  }
  .main__item {
    padding: 5px;
    gap: 10px;
  }
  .main__item-img {
    width: 25px;
    height: 25px;
  }
  .main__item-nav-block {
    gap: 5px;
  }
  .main__item-icon-inner {
    height: 40px;
    width: 40px;
  }
  .main__input-title,
  .main__item-title,
  .main__input-description,
  .main__item-description {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 15px;
    border-radius: 2px;
  }
  .btn {
    height: 50px;
    width: 50px;
  }
}
